html {
    background-color: lightgray;
    width: 960px;
    height: 100%;
    margin: 20%;
    border: 0%;
    padding: 0%;
}

h1 {
    text-align: center;
    border-style: solid;
    width: 50%;
    margin: auto;
}

img.family {
    float: left;
    display: block;
    border-style: solid;
}

h3 {
    text-align: center;
}

#myAnswers {
    float: right;
    display: block;
    border-style: solid;
    width: 30%;
}

#guestAnswers {
    display: inline-block;
    border-style: solid;
    width: 30%;
    margin: 3%;
}

#topTen {
    border-style: solid;
    width: 50%;
    margin: auto;
    float: left;
}