html {
    background-color: lightgray;
    width: 960px;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%
}

h1 {
    text-align: center;
    border-style: solid;
    width: 50%;
    margin-top: 10%;
}

img.family {
    float: left;
    display: inline-block;
    border-style: hidden;
    margin-top: 3%;
}

h3 {
    text-align: left;
    margin-left: 10%;
}

#myAnswers {
    display: inline-block;
    border-style: hidden;
    width: 30%;
}

#guestAnswers {
    display: inline-block;
    border-style: hidden;
    width: 30%;
    margin: 3%;
}

#topTen {
    border-style: solid;
    width: 50%;
    margin: auto;
    float: left;
}