* {
    background-color: orange
}

h1 {
    text-align: center;
    border-style: solid;
    width: 20%;
    margin: auto;
}

h3 {
    text-align: center;
}

div {
    border-style: solid;
    width: 15%;
    margin: auto;
}